---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [2]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [3]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [4]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    data = []
    state = None
    state_towns = []
    with open('university_towns.txt') as file:
        for line in file:
            editline = line[:-1]
            if editline[-6:] == '[edit]':
                state = editline[:-6]
                continue
            if '(' in line:
                town = editline[:editline.index('(')-1]
                state_towns.append([state,town])
            else:
                town = editline
                state_towns.append([state,town])
            data.append(editline)
    df = pd.DataFrame(state_towns,columns = ['State','RegionName'])
    return df
get_list_of_university_towns()

             State                    RegionName
0             None
1          Alabama                        Auburn
2          Alabama                      Florence
3          Alabama                  Jacksonville
4          Alabama                    Livingston
5          Alabama                    Montevallo
6          Alabama                          Troy
7          Alabama                    Tuscaloosa
8          Alabama                      Tuskegee
9           Alaska                     Fairbanks
10         Arizona                     Flagstaff
11         Arizona                         Tempe
12         Arizona                        Tucson
13        Arkansas                   Arkadelphia
14        Arkansas                        Conway
15        Arkansas                  Fayetteville
16        Arkansas                     Jonesboro
17        Arkansas                      Magnolia
18        Arkansas                    Monticello
19        Arkansas                  Russellville
20        Arkansas                        Searcy
21      California                        Angwin
22      California                        Arcata
23      California                      Berkeley
24      California                         Chico
25      California                     Claremont
26      California                        Cotati
27      California                         Davis
28      California                        Irvine
29      California                    Isla Vista
..             ...                           ...
488       Virginia                          Wise
489       Virginia                    Chesapeake
490     Washington                    Bellingham
491     Washington                        Cheney
492     Washington                    Ellensburg
493     Washington                       Pullman
494     Washington  University District, Seattle
495  West Virginia                        Athens
496  West Virginia                    Buckhannon
497  West Virginia                      Fairmont
498  West Virginia                     Glenville
499  West Virginia                    Huntington
500  West Virginia                    Montgomery
501  West Virginia                    Morgantown
502  West Virginia                 Shepherdstown
503  West Virginia                  West Liberty
504      Wisconsin                      Appleton
505      Wisconsin                    Eau Claire
506      Wisconsin                     Green Bay
507      Wisconsin                     La Crosse
508      Wisconsin                       Madison
509      Wisconsin                     Menomonie
510      Wisconsin                     Milwaukee
511      Wisconsin                       Oshkosh
512      Wisconsin                   Platteville
513      Wisconsin                   River Falls
514      Wisconsin                 Stevens Point
515      Wisconsin                      Waukesha
516      Wisconsin                    Whitewater
517        Wyoming                       Laramie

[518 rows x 2 columns]

In [5]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    GDP = pd.ExcelFile('gdplev.xls')
    GDP = GDP.parse("Sheet1", skiprows=219)
    GDP = GDP[['1999q4', 9926.1]]
    GDP.columns = ['Quarter','GDP']
    for i in range(2, len(GDP)):
        if (GDP.iloc[i-2][1] > GDP.iloc[i-1][1]) and (GDP.iloc[i-1][1] > GDP.iloc[i][1]):
            return GDP.iloc[i-2][0]
get_recession_start()

u'2008q3'

In [6]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    GDP = pd.ExcelFile('gdplev.xls')
    GDP = GDP.parse("Sheet1", skiprows=219)
    GDP = GDP[['1999q4', 9926.1]]
    GDP.columns = ['Quarter','GDP']
    start = get_recession_start()
    start_index = GDP[GDP['Quarter'] == start].index.tolist()[0]
    GDP=GDP.iloc[start_index:]
    for i in range(2, len(GDP)):
        if (GDP.iloc[i-2][1] < GDP.iloc[i-1][1]) and (GDP.iloc[i-1][1] < GDP.iloc[i][1]):
            return GDP.iloc[i][0]
get_recession_end()

u'2009q4'

In [7]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    GDP = pd.ExcelFile('gdplev.xls')
    GDP = GDP.parse("Sheet1", skiprows=219)
    GDP = GDP[['1999q4', 9926.1]]
    GDP.columns = ['Quarter','GDP']
    start = get_recession_start()
    start_index = GDP[GDP['Quarter'] == start].index.tolist()[0]
    end = get_recession_end()
    end_index = GDP[GDP['Quarter'] == end].index.tolist()[0]
    GDP=GDP.iloc[start_index:end_index+1]
    bottom = GDP['GDP'].min()
    bottom_index = GDP[GDP['GDP'] == bottom].index.tolist()[0]-start_index
    return GDP.iloc[bottom_index]['Quarter']
get_recession_bottom()

u'2009q2'

In [8]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    houses = pd.read_csv('City_Zhvi_AllHomes.csv')
    for i in range(2000,2017):
        if i == 2016:
            houses[str(i) + 'q1'] = houses[[str(i)+'-01', str(i)+'-02', str(i)+'-03']].mean(axis=1)
            houses[str(i) + 'q2'] = houses[[str(i)+'-04', str(i)+'-05', str(i)+'-06']].mean(axis=1)
            houses[str(i) + 'q3'] = houses[[str(i)+'-07', str(i)+'-08']].mean(axis=1)
        else:
            houses[str(i) + 'q1'] = houses[[str(i)+'-01', str(i)+'-02', str(i)+'-03']].mean(axis=1)
            houses[str(i) + 'q2'] = houses[[str(i)+'-04', str(i)+'-05', str(i)+'-06']].mean(axis=1)
            houses[str(i) + 'q3'] = houses[[str(i)+'-07', str(i)+'-08', str(i)+'-09']].mean(axis=1)
            houses[str(i) + 'q4'] = houses[[str(i)+'-10', str(i)+'-11', str(i)+'-12']].mean(axis=1)

    houses = houses.drop(houses.columns[[0] + list(range(3,251))],axis=1)
    houses = houses.replace({'State':states})
    houses = houses.set_index(['State', 'RegionName'])
    return houses

convert_housing_data_to_quarters()

,,2016-09,2016-10,2016-11,2016-12,2017-01,2017-02,2017-03,2017-04,2017-05,2000q1,...,2014q2,2014q3,2014q4,2015q1,2015q2,2015q3,2015q4,2016q1,2016q2,2016q3
State,RegionName,,,,,,,,,,,,,,,,,,,,,
New York,New York,609600,616600,623300,628200.0,632400,639700,649400,661000,672400,NaN,...,5.153333e+05,5.191000e+05,5.221667e+05,5.235000e+05,5.320333e+05,5.485000e+05,5.619000e+05,5.721333e+05,5.841667e+05,599700.0
California,Los Angeles,593400,598700,605300,610200.0,613300,617600,623000,627200,629900,2.070667e+05,...,4.984000e+05,5.091333e+05,5.178667e+05,5.266667e+05,5.351333e+05,5.453000e+05,5.570333e+05,5.679000e+05,5.809000e+05,589150.0
Illinois,Chicago,209100,210900,212800,215400.0,218400,220600,221400,222000,222700,1.384000e+05,...,1.881333e+05,1.902667e+05,1.937333e+05,1.948667e+05,1.988667e+05,2.015667e+05,2.029000e+05,2.037667e+05,2.057667e+05,207550.0
Pennsylvania,Philadelphia,131600,132000,132400,133400.0,134600,135700,136300,136800,137300,5.300000e+04,...,1.146333e+05,1.158667e+05,1.166000e+05,1.167000e+05,1.179000e+05,1.206333e+05,1.221667e+05,1.237667e+05,1.260667e+05,130000.0
Arizona,Phoenix,199700,201100,203100,205000.0,206500,207800,209000,210000,211300,1.118333e+05,...,1.663333e+05,1.675333e+05,1.704667e+05,1.732667e+05,1.765000e+05,1.805667e+05,1.851667e+05,1.889000e+05,1.931667e+05,198150.0
Nevada,Las Vegas,204100,205400,206700,208200.0,209800,211300,212700,214500,216500,1.326000e+05,...,1.689667e+05,1.715667e+05,1.746000e+05,1.775667e+05,1.802667e+05,1.851667e+05,1.887333e+05,1.922333e+05,1.961333e+05,202150.0
California,San Diego,546600,548400,551500,554500.0,556000,557300,560000,565600,572100,2.229000e+05,...,4.747667e+05,4.814000e+05,4.861667e+05,4.934333e+05,5.034000e+05,5.130333e+05,5.209000e+05,5.273000e+05,5.321000e+05,541550.0
Texas,Dallas,157200,158400,159600,160500.0,161500,162600,163500,164200,164700,8.446667e+04,...,1.052667e+05,1.072667e+05,1.099667e+05,1.124000e+05,1.199667e+05,1.281667e+05,1.345667e+05,1.397000e+05,1.452333e+05,154750.0
California,San Jose,837600,841600,844100,848500.0,854700,860500,865900,872100,877400,3.742667e+05,...,6.817000e+05,7.016000e+05,7.184667e+05,7.371667e+05,7.637000e+05,7.885000e+05,8.060333e+05,8.242333e+05,8.384333e+05,835000.0
Florida,Jacksonville,141100,143000,144900,145900.0,146500,147500,149000,150700,152300,8.860000e+04,...,1.189333e+05,1.193000e+05,1.205000e+05,1.221667e+05,1.250667e+05,1.292333e+05,1.310667e+05,1.335333e+05,1.373333e+05,139200.0
California,San Francisco,1120100,1121500,1133800,1149000.0,1155300,1160500,1172600,1185500,1194300,4.305000e+05,...,9.263333e+05,9.545333e+05,9.740667e+05,1.004767e+06,1.064200e+06,1.105767e+06,1.120933e+06,1.145633e+06,1.133400e+06,1122500.0
Texas,Austin,302400,304100,305800,308000.0,310300,313700,318100,321300,321600,1.429667e+05,...,2.473333e+05,2.517333e+05,2.573667e+05,2.642667e+05,2.729000e+05,2.808000e+05,2.868000e+05,2.928333e+05,2.992667e+05,301350.0
Michigan,Detroit,35900,36300,36900,37400.0,37900,38600,39500,40500,41500,6.620000e+04,...,3.520000e+04,3.516667e+04,3.536667e+04,3.430000e+04,3.336667e+04,3.410000e+04,3.420000e+04,3.416667e+04,3.430000e+04,35950.0
Ohio,Columbus,121500,123000,124500,126000.0,127200,128000,128100,128200,128300,9.436667e+04,...,1.042000e+05,1.057333e+05,1.068333e+05,1.081000e+05,1.107000e+05,1.126667e+05,1.153333e+05,1.160333e+05,1.172000e+05,119650.0
Tennessee,Memphis,77700,78200,78800,79400.0,79900,80200,80400,80800,81100,7.250000e+04,...,6.920000e+04,7.053333e+04,7.206667e+04,7.083333e+04,6.866667e+04,6.893333e+04,7.003333e+04,7.103333e+04,7.416667e+04,76600.0
North Carolina,Charlotte,174600,175900,177500,178800.0,179800,180900,181800,182700,183800,1.269333e+05,...,1.495667e+05,1.502000e+05,1.525333e+05,1.551000e+05,1.590667e+05,1.613333e+05,1.635000e+05,1.670333e+05,1.695333e+05,172550.0
Texas,El Paso,112900,113200,113300,113500.0,113700,113800,113600,113500,113400,7.626667e+04,...,1.115000e+05,1.115333e+05,1.114667e+05,1.113667e+05,1.116000e+05,1.115667e+05,1.109667e+05,1.113667e+05,1.121000e+05,112750.0
Massachusetts,Boston,514900,518600,522500,527100.0,532100,537600,543200,549300,554600,2.069333e+05,...,4.225333e+05,4.299333e+05,4.379667e+05,4.484000e+05,4.544333e+05,4.646000e+05,4.781000e+05,4.911000e+05,4.992000e+05,508050.0
Washington,Seattle,609800,613600,617300,621300.0,624500,630900,642600,657400,670300,2.486000e+05,...,4.417667e+05,4.515000e+05,4.588667e+05,4.707667e+05,4.981667e+05,5.193000e+05,5.404333e+05,5.611667e+05,5.856000e+05,603400.0
Maryland,Baltimore,119400,119000,118200,118700.0,120500,123000,124000,122800,121100,NaN,...,1.109333e+05,1.110333e+05,1.095667e+05,1.100667e+05,1.129333e+05,1.154000e+05,1.161667e+05,1.165333e+05,1.178333e+05,118650.0
Colorado,Denver,359000,363200,367200,370000.0,372300,375100,378000,380700,383200,1.622333e+05,...,2.652667e+05,2.750333e+05,2.866000e+05,2.978000e+05,3.132000e+05,3.246000e+05,3.336000e+05,3.402333e+05,3.474000e+05,354700.0
District of Columbia,Washington,527800,532100,536600,541900.0,550500,559700,563500,559800,555900,1.377667e+05,...,4.477333e+05,4.565000e+05,4.625000e+05,4.677333e+05,4.878667e+05,5.013333e+05,5.063000e+05,5.060667e+05,5.102000e+05,520200.0
Tennessee,Nashville,209600,212600,215300,218000.0,220200,222000,223700,226200,228500,1.138333e+05,...,1.614000e+05,1.635333e+05,1.677000e+05,1.724667e+05,1.760333e+05,1.821333e+05,1.895667e+05,1.953333e+05,2.004000e+05,206200.0
Wisconsin,Milwaukee,101700,102700,103200,103600.0,104100,105000,105900,107000,107900,7.803333e+04,...,9.206667e+04,9.256667e+04,9.263333e+04,9.496667e+04,9.530000e+04,9.550000e+04,9.576667e+04,9.593333e+04,9.746667e+04,99800.0
Arizona,Tucson,154800,156500,158500,160000.0,161000,161600,162500,163700,164800,1.018333e+05,...,1.423000e+05,1.429000e+05,1.442333e+05,1.442333e+05,1.446333e+05,1.457333e+05,1.476000e+05,1.495667e+05,1.517000e+05,153150.0
Oregon,Portland,401600,403800,404500,407100.0,411900,415300,415900,416800,417900,1.528000e+05,...,2.832333e+05,2.888000e+05,2.971333e+05,3.048000e+05,3.160667e+05,3.335667e+05,3.526667e+05,3.710333e+05,3.864333e+05,397450.0
Oklahoma,Oklahoma City,130400,131400,132500,133500.0,134400,136000,137300,135500,132700,7.643333e+04,...,1.150667e+05,1.153333e+05,1.160667e+05,1.173667e+05,1.210333e+05,1.236667e+05,1.258667e+05,1.266667e+05,1.283333e+05,129050.0
Nebraska,Omaha,144900,146700,148300,149200.0,149600,150200,150800,151500,152100,1.128000e+05,...,1.302000e+05,1.305667e+05,1.326000e+05,1.330667e+05,1.353000e+05,1.374000e+05,1.398000e+05,1.411667e+05,1.425000e+05,143250.0
New Mexico,Albuquerque,174300,177500,181200,183600.0,185000,186400,187700,188900,189600,1.258667e+05,...,1.623667e+05,1.633000e+05,1.641333e+05,1.658333e+05,1.664000e+05,1.694000e+05,1.690333e+05,1.700333e+05,1.710333e+05,172750.0
California,Fresno,199200,200600,202200,203900.0,205700,207700,209600,211200,212700,9.410000e+04,...,1.713333e+05,1.749000e+05,1.789000e+05,1.805333e+05,1.823333e+05,1.867000e+05,1.895333e+05,1.907667e+05,1.942333e+05,197450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Minnesota,Saint Bonifacius,245500,247700,250000,251300.0,251900,252900,254300,256700,260000,1.545333e+05,...,2.175667e+05,2.212333e+05,2.225667e+05,2.243333e+05,2.271667e+05,2.314333e+05,2.303333e+05,2.301000e+05,2.343667e+05,239450.0
Texas,Granite Shoals,131100,132000,133300,134600.0,135600,136300,136800,138400,140800,NaN,...,1.118000e+05,1.112667e+05,1.113000e+05,1.126667e+05,1.176000e+05,1.218667e+05,1.256333e+05,1.278333e+05,1.289333e+05,129900.0
Maryland,Piney Point,287900,292800,295500,296300.0,298200,303100,309000,310100,308000,1.556667e+05,...,2.827000e+05,2.922333e+05,2.829667e+05,2.727667e+05,2.767000e+05,2.764000e+05,2.756667e+05,2.830333e+05,2.823333e+05,282600.0
California,Stinson Beach,2877700,2910300,2997400,3064600.0,3064000,3057100,3100400,3145600,3173600,9.974333e+05,...,2.243300e+06,2.432467e+06,2.587067e+06,2.651133e+06,2.692667e+06,2.606300e+06,2.729567e+06,2.955367e+06,2.949967e+06,2902600.0
Wisconsin,Maribel,135900,139900,142400,145000.0,147300,147700,148200,149600,150500,NaN,...,1.280000e+05,1.280667e+05,1.286667e+05,1.299667e+05,1.291000e+05,1.269667e+05,1.244667e+05,1.231333e+05,1.257000e+05,131400.0
Idaho,Middleton,166400,167000,168400,170300.0,171600,172300,173300,175400,177400,1.060667e+05,...,1.434333e+05,1.465000e+05,1.480000e+05,1.491333e+05,1.498333e+05,1.526667e+05,1.551333e+05,1.564333e+05,1.613000e+05,165250.0
Kentucky,Almo,128100,127600,128300,131000.0,134300,135700,135900,136400,137400,8.403333e+04,...,1.211667e+05,1.243667e+05,1.242333e+05,1.239333e+05,1.248000e+05,1.251333e+05,1.247333e+05,1.246000e+05,1.282333e+05,128450.0
Colorado,Bennett,221200,226200,230300,233300.0,235500,237900,240700,243800,246500,1.329000e+05,...,1.508667e+05,1.595333e+05,1.681000e+05,1.775333e+05,1.869667e+05,1.924667e+05,1.952667e+05,2.001667e+05,2.079000e+05,215200.0
New Hampshire,East Hampstead,284800,287200,289400,289400.0,289200,291000,293700,295200,296400,1.618000e+05,...,2.526333e+05,2.536667e+05,2.551667e+05,2.581333e+05,2.619000e+05,2.623000e+05,2.676667e+05,2.755667e+05,2.793667e+05,282300.0
Missouri,Garden City,115800,115700,116000,115700.0,115300,115400,116400,116500,115800,NaN,...,1.051333e+05,1.047333e+05,1.067667e+05,1.092333e+05,1.046667e+05,1.043333e+05,1.079000e+05,1.093667e+05,1.143667e+05,115750.0
Arkansas,Mountainburg,96500,96400,96100,95800.0,95600,95300,95300,95900,96900,5.716667e+04,...,8.043333e+04,8.150000e+04,8.376667e+04,8.430000e+04,7.973333e+04,7.770000e+04,8.043333e+04,8.406667e+04,8.976667e+04,95600.0
Tennessee,Ocoee,142300,142500,140900,139200.0,138300,138900,140300,142000,143400,5.693333e+04,...,1.302000e+05,1.332667e+05,1.326667e+05,1.313333e+05,1.281333e+05,1.262667e+05,1.272667e+05,1.306333e+05,1.348333e+05,139150.0
New York,Upper Brookville,1994800,1986300,1979800,1979400.0,1983200,1983400,1973300,1963600,1958600,1.230967e+06,...,1.715900e+06,1.722867e+06,1.761233e+06,1.793200e+06,1.837200e+06,1.801633e+06,1.807300e+06,1.864767e+06,1.905467e+06,1970550.0
Hawaii,Volcano,221600,219800,221000,229400.0,241400,251600,255600,254500,251600,9.870000e+04,...,1.910000e+05,1.967333e+05,2.044000e+05,2.039333e+05,2.082667e+05,2.108667e+05,2.148333e+05,2.174333e+05,2.235667e+05,224550.0
South Carolina,Wedgefield,86700,85900,84700,83400.0,81600,80000,79100,78900,78900,NaN,...,8.096667e+04,8.013333e+04,8.200000e+04,8.130000e+04,7.920000e+04,8.080000e+04,8.113333e+04,8.053333e+04,8.340000e+04,85950.0
Michigan,Williamston,181700,182600,183900,185500.0,186700,187500,188300,188100,187500,1.591667e+05,...,1.598333e+05,1.630000e+05,1.656000e+05,1.685667e+05,1.703667e+05,1.725667e+05,1.741333e+05,1.755333e+05,1.772000e+05,179500.0
Arkansas,Decatur,96000,97200,98400,100100.0,102200,104700,107400,110500,113300,6.360000e+04,...,8.700000e+04,8.950000e+04,9.100000e+04,9.153333e+04,9.313333e+04,9.486667e+04,9.683333e+04,9.546667e+04,9.440000e+04,94400.0
Indiana,Edgewood,102200,102400,102500,102500.0,102600,103400,104300,104600,104900,9.170000e+04,...,9.880000e+04,9.780000e+04,9.750000e+04,9.793333e+04,9.643333e+04,9.870000e+04,1.010667e+05,1.025000e+05,1.021667e+05,102550.0
Tennessee,Palmyra,126400,125900,125900,127100.0,128100,129100,131600,133300,133600,NaN,...,1.219333e+05,1.282667e+05,1.246667e+05,1.208000e+05,1.209333e+05,1.200333e+05,1.243000e+05,1.242667e+05,1.251000e+05,126050.0
Maryland,Saint Inigoes,281400,282600,284300,284900.0,285500,285500,285200,286100,287500,1.480667e+05,...,2.932000e+05,2.956000e+05,2.879000e+05,2.823000e+05,2.799000e+05,2.778667e+05,2.767000e+05,2.786667e+05,2.814333e+05,282100.0
Indiana,Marysville,133000,134300,137100,139700.0,140200,139800,139300,138800,138500,NaN,...,1.164333e+05,1.128000e+05,1.092667e+05,1.063333e+05,1.082000e+05,1.123333e+05,1.225000e+05,1.242667e+05,1.251333e+05,131100.0
Missouri,Bois D Arc,144500,144300,143100,141400.0,140800,142900,146100,148200,149000,1.078000e+05,...,1.395333e+05,1.394667e+05,1.456333e+05,1.452000e+05,1.419000e+05,1.405000e+05,1.451000e+05,1.450667e+05,1.417333e+05,143000.0
Virginia,Henrico,223500,224300,225100,226200.0,226800,227700,229000,230100,230800,1.285667e+05,...,1.998333e+05,2.035000e+05,2.061000e+05,2.085667e+05,2.123667e+05,2.132000e+05,2.146000e+05,2.143333e+05,2.156333e+05,220650.0
New Jersey,Diamond Beach,397700,397300,396100,395600.0,398500,404200,411600,414900,414700,1.739667e+05,...,3.823667e+05,3.840000e+05,3.870000e+05,3.914333e+05,3.927333e+05,3.985667e+05,4.002000e+05,4.045667e+05,4.018000e+05,399500.0
Pennsylvania,Highland Township,222500,225800,227800,226600.0,225500,223900,223100,227500,234500,1.325000e+05,...,2.248000e+05,2.243667e+05,2.257667e+05,2.271333e+05,2.295667e+05,2.238333e+05,2.200000e+05,2.177000e+05,2.152333e+05,219750.0
Wisconsin,Town of Wrightstown,165700,167200,169100,171100.0,173200,175500,176700,176500,176600,1.017667e+05,...,1.479667e+05,1.483000e+05,1.474667e+05,1.488667e+05,1.508667e+05,1.525000e+05,1.532000e+05,1.557333e+05,1.595333e+05,163400.0
New York,Urbana,148200,151600,152800,151700.0,153400,154500,151000,145900,143900,7.920000e+04,...,1.264667e+05,1.256333e+05,1.286667e+05,1.311667e+05,1.322333e+05,1.310667e+05,1.292667e+05,1.340667e+05,1.374667e+05,143550.0
Wisconsin,New Denmark,198500,200100,202000,204400.0,206600,208500,210200,211600,212500,1.145667e+05,...,1.684000e+05,1.748000e+05,1.795000e+05,1.827333e+05,1.851667e+05,1.844333e+05,1.846667e+05,1.855333e+05,1.901667e+05,195350.0
California,Angels,265100,268600,272000,273700.0,274300,275000,277100,280500,283400,1.510000e+05,...,2.146000e+05,2.179667e+05,2.228333e+05,2.302333e+05,2.287333e+05,2.401667e+05,2.533667e+05,2.547333e+05,2.591667e+05,263500.0
New Jersey,Lebanon Borough,239200,239400,238500,239400.0,241300,240700,238100,234800,231100,1.658000e+05,...,2.331000e+05,2.320000e+05,2.293000e+05,2.321000e+05,2.315333e+05,2.320000e+05,2.334667e+05,2.376667e+05,2.411000e+05,239650.0

In [9]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    data = convert_housing_data_to_quarters().copy()
    print data
    data = data.loc[:,'2008q3':'2009q2']
    data = data.reset_index()
    def price_ratio(row):
        return (row['2008q3'] - row['2009q2'])/row['2008q3']
    
    data['up&down'] = data.apply(price_ratio,axis=1)
    
    
    uni_town = get_list_of_university_towns()['RegionName']
    uni_town = set(uni_town)

    def is_uni_town(row):
        if row['RegionName'] in uni_town:
            return 1
        else:
            return 0
    data['is_uni'] = data.apply(is_uni_town,axis=1)
    
    
    not_uni = data[data['is_uni']==0].loc[:,'up&down'].dropna()
    is_uni  = data[data['is_uni']==1].loc[:,'up&down'].dropna()
    def better():
        if not_uni.mean() < is_uni.mean():
            return 'non-university town'
        else:
            return 'university town'
    p_val = list(ttest_ind(not_uni, is_uni))[1]
    result = (True,p_val,better())
    return result


run_ttest()

                                          2016-09  2016-10  2016-11  \
State                RegionName
New York             New York              609600   616600   623300
California           Los Angeles           593400   598700   605300
Illinois             Chicago               209100   210900   212800
Pennsylvania         Philadelphia          131600   132000   132400
Arizona              Phoenix               199700   201100   203100
Nevada               Las Vegas             204100   205400   206700
California           San Diego             546600   548400   551500
Texas                Dallas                157200   158400   159600
California           San Jose              837600   841600   844100
Florida              Jacksonville          141100   143000   144900
California           San Francisco        1120100  1121500  1133800
Texas                Austin                302400   304100   305800
Michigan             Detroit                35900    36300    36900
Ohio                 Columbus              121500   123000   124500
Tennessee            Memphis                77700    78200    78800
North Carolina       Charlotte             174600   175900   177500
Texas                El Paso               112900   113200   113300
Massachusetts        Boston                514900   518600   522500
Washington           Seattle               609800   613600   617300
Maryland             Baltimore             119400   119000   118200
Colorado             Denver                359000   363200   367200
District of Columbia Washington            527800   532100   536600
Tennessee            Nashville             209600   212600   215300
Wisconsin            Milwaukee             101700   102700   103200
Arizona              Tucson                154800   156500   158500
Oregon               Portland              401600   403800   404500
Oklahoma             Oklahoma City         130400   131400   132500
Nebraska             Omaha                 144900   146700   148300
New Mexico           Albuquerque           174300   177500   181200
California           Fresno                199200   200600   202200
...                                           ...      ...      ...
Minnesota            Saint Bonifacius      245500   247700   250000
Texas                Granite Shoals        131100   132000   133300
Maryland             Piney Point           287900   292800   295500
California           Stinson Beach        2877700  2910300  2997400
Wisconsin            Maribel               135900   139900   142400
Idaho                Middleton             166400   167000   168400
Kentucky             Almo                  128100   127600   128300
Colorado             Bennett               221200   226200   230300
New Hampshire        East Hampstead        284800   287200   289400
Missouri             Garden City           115800   115700   116000
Arkansas             Mountainburg           96500    96400    96100
Tennessee            Ocoee                 142300   142500   140900
New York             Upper Brookville     1994800  1986300  1979800
Hawaii               Volcano               221600   219800   221000
South Carolina       Wedgefield             86700    85900    84700
Michigan             Williamston           181700   182600   183900
Arkansas             Decatur                96000    97200    98400
Indiana              Edgewood              102200   102400   102500
Tennessee            Palmyra               126400   125900   125900
Maryland             Saint Inigoes         281400   282600   284300
Indiana              Marysville            133000   134300   137100
Missouri             Bois D Arc            144500   144300   143100
Virginia             Henrico               223500   224300   225100
New Jersey           Diamond Beach         397700   397300   396100
Pennsylvania         Highland Township     222500   225800   227800
Wisconsin            Town of Wrightstown   165700   167200   169100
New York             Urbana                148200   151600   152800
Wisconsin            New Denmark           198500   200100   202000
California           Angels                265100   268600   272000
New Jersey           Lebanon Borough       239200   239400   238500

                                            2016-12  2017-01  2017-02  \
State                RegionName
New York             New York              628200.0   632400   639700
California           Los Angeles           610200.0   613300   617600
Illinois             Chicago               215400.0   218400   220600
Pennsylvania         Philadelphia          133400.0   134600   135700
Arizona              Phoenix               205000.0   206500   207800
Nevada               Las Vegas             208200.0   209800   211300
California           San Diego             554500.0   556000   557300
Texas                Dallas                160500.0   161500   162600
California           San Jose              848500.0   854700   860500
Florida              Jacksonville          145900.0   146500   147500
California           San Francisco        1149000.0  1155300  1160500
Texas                Austin                308000.0   310300   313700
Michigan             Detroit                37400.0    37900    38600
Ohio                 Columbus              126000.0   127200   128000
Tennessee            Memphis                79400.0    79900    80200
North Carolina       Charlotte             178800.0   179800   180900
Texas                El Paso               113500.0   113700   113800
Massachusetts        Boston                527100.0   532100   537600
Washington           Seattle               621300.0   624500   630900
Maryland             Baltimore             118700.0   120500   123000
Colorado             Denver                370000.0   372300   375100
District of Columbia Washington            541900.0   550500   559700
Tennessee            Nashville             218000.0   220200   222000
Wisconsin            Milwaukee             103600.0   104100   105000
Arizona              Tucson                160000.0   161000   161600
Oregon               Portland              407100.0   411900   415300
Oklahoma             Oklahoma City         133500.0   134400   136000
Nebraska             Omaha                 149200.0   149600   150200
New Mexico           Albuquerque           183600.0   185000   186400
California           Fresno                203900.0   205700   207700
...                                             ...      ...      ...
Minnesota            Saint Bonifacius      251300.0   251900   252900
Texas                Granite Shoals        134600.0   135600   136300
Maryland             Piney Point           296300.0   298200   303100
California           Stinson Beach        3064600.0  3064000  3057100
Wisconsin            Maribel               145000.0   147300   147700
Idaho                Middleton             170300.0   171600   172300
Kentucky             Almo                  131000.0   134300   135700
Colorado             Bennett               233300.0   235500   237900
New Hampshire        East Hampstead        289400.0   289200   291000
Missouri             Garden City           115700.0   115300   115400
Arkansas             Mountainburg           95800.0    95600    95300
Tennessee            Ocoee                 139200.0   138300   138900
New York             Upper Brookville     1979400.0  1983200  1983400
Hawaii               Volcano               229400.0   241400   251600
South Carolina       Wedgefield             83400.0    81600    80000
Michigan             Williamston           185500.0   186700   187500
Arkansas             Decatur               100100.0   102200   104700
Indiana              Edgewood              102500.0   102600   103400
Tennessee            Palmyra               127100.0   128100   129100
Maryland             Saint Inigoes         284900.0   285500   285500
Indiana              Marysville            139700.0   140200   139800
Missouri             Bois D Arc            141400.0   140800   142900
Virginia             Henrico               226200.0   226800   227700
New Jersey           Diamond Beach         395600.0   398500   404200
Pennsylvania         Highland Township     226600.0   225500   223900
Wisconsin            Town of Wrightstown   171100.0   173200   175500
New York             Urbana                151700.0   153400   154500
Wisconsin            New Denmark           204400.0   206600   208500
California           Angels                273700.0   274300   275000
New Jersey           Lebanon Borough       239400.0   241300   240700

                                          2017-03  2017-04  2017-05  \
State                RegionName
New York             New York              649400   661000   672400
California           Los Angeles           623000   627200   629900
Illinois             Chicago               221400   222000   222700
Pennsylvania         Philadelphia          136300   136800   137300
Arizona              Phoenix               209000   210000   211300
Nevada               Las Vegas             212700   214500   216500
California           San Diego             560000   565600   572100
Texas                Dallas                163500   164200   164700
California           San Jose              865900   872100   877400
Florida              Jacksonville          149000   150700   152300
California           San Francisco        1172600  1185500  1194300
Texas                Austin                318100   321300   321600
Michigan             Detroit                39500    40500    41500
Ohio                 Columbus              128100   128200   128300
Tennessee            Memphis                80400    80800    81100
North Carolina       Charlotte             181800   182700   183800
Texas                El Paso               113600   113500   113400
Massachusetts        Boston                543200   549300   554600
Washington           Seattle               642600   657400   670300
Maryland             Baltimore             124000   122800   121100
Colorado             Denver                378000   380700   383200
District of Columbia Washington            563500   559800   555900
Tennessee            Nashville             223700   226200   228500
Wisconsin            Milwaukee             105900   107000   107900
Arizona              Tucson                162500   163700   164800
Oregon               Portland              415900   416800   417900
Oklahoma             Oklahoma City         137300   135500   132700
Nebraska             Omaha                 150800   151500   152100
New Mexico           Albuquerque           187700   188900   189600
California           Fresno                209600   211200   212700
...                                           ...      ...      ...
Minnesota            Saint Bonifacius      254300   256700   260000
Texas                Granite Shoals        136800   138400   140800
Maryland             Piney Point           309000   310100   308000
California           Stinson Beach        3100400  3145600  3173600
Wisconsin            Maribel               148200   149600   150500
Idaho                Middleton             173300   175400   177400
Kentucky             Almo                  135900   136400   137400
Colorado             Bennett               240700   243800   246500
New Hampshire        East Hampstead        293700   295200   296400
Missouri             Garden City           116400   116500   115800
Arkansas             Mountainburg           95300    95900    96900
Tennessee            Ocoee                 140300   142000   143400
New York             Upper Brookville     1973300  1963600  1958600
Hawaii               Volcano               255600   254500   251600
South Carolina       Wedgefield             79100    78900    78900
Michigan             Williamston           188300   188100   187500
Arkansas             Decatur               107400   110500   113300
Indiana              Edgewood              104300   104600   104900
Tennessee            Palmyra               131600   133300   133600
Maryland             Saint Inigoes         285200   286100   287500
Indiana              Marysville            139300   138800   138500
Missouri             Bois D Arc            146100   148200   149000
Virginia             Henrico               229000   230100   230800
New Jersey           Diamond Beach         411600   414900   414700
Pennsylvania         Highland Township     223100   227500   234500
Wisconsin            Town of Wrightstown   176700   176500   176600
New York             Urbana                151000   145900   143900
Wisconsin            New Denmark           210200   211600   212500
California           Angels                277100   280500   283400
New Jersey           Lebanon Borough       238100   234800   231100

                                                2000q1    ...      \
State                RegionName                           ...
New York             New York                      NaN    ...
California           Los Angeles          2.070667e+05    ...
Illinois             Chicago              1.384000e+05    ...
Pennsylvania         Philadelphia         5.300000e+04    ...
Arizona              Phoenix              1.118333e+05    ...
Nevada               Las Vegas            1.326000e+05    ...
California           San Diego            2.229000e+05    ...
Texas                Dallas               8.446667e+04    ...
California           San Jose             3.742667e+05    ...
Florida              Jacksonville         8.860000e+04    ...
California           San Francisco        4.305000e+05    ...
Texas                Austin               1.429667e+05    ...
Michigan             Detroit              6.620000e+04    ...
Ohio                 Columbus             9.436667e+04    ...
Tennessee            Memphis              7.250000e+04    ...
North Carolina       Charlotte            1.269333e+05    ...
Texas                El Paso              7.626667e+04    ...
Massachusetts        Boston               2.069333e+05    ...
Washington           Seattle              2.486000e+05    ...
Maryland             Baltimore                     NaN    ...
Colorado             Denver               1.622333e+05    ...
District of Columbia Washington           1.377667e+05    ...
Tennessee            Nashville            1.138333e+05    ...
Wisconsin            Milwaukee            7.803333e+04    ...
Arizona              Tucson               1.018333e+05    ...
Oregon               Portland             1.528000e+05    ...
Oklahoma             Oklahoma City        7.643333e+04    ...
Nebraska             Omaha                1.128000e+05    ...
New Mexico           Albuquerque          1.258667e+05    ...
California           Fresno               9.410000e+04    ...
...                                                ...    ...
Minnesota            Saint Bonifacius     1.545333e+05    ...
Texas                Granite Shoals                NaN    ...
Maryland             Piney Point          1.556667e+05    ...
California           Stinson Beach        9.974333e+05    ...
Wisconsin            Maribel                       NaN    ...
Idaho                Middleton            1.060667e+05    ...
Kentucky             Almo                 8.403333e+04    ...
Colorado             Bennett              1.329000e+05    ...
New Hampshire        East Hampstead       1.618000e+05    ...
Missouri             Garden City                   NaN    ...
Arkansas             Mountainburg         5.716667e+04    ...
Tennessee            Ocoee                5.693333e+04    ...
New York             Upper Brookville     1.230967e+06    ...
Hawaii               Volcano              9.870000e+04    ...
South Carolina       Wedgefield                    NaN    ...
Michigan             Williamston          1.591667e+05    ...
Arkansas             Decatur              6.360000e+04    ...
Indiana              Edgewood             9.170000e+04    ...
Tennessee            Palmyra                       NaN    ...
Maryland             Saint Inigoes        1.480667e+05    ...
Indiana              Marysville                    NaN    ...
Missouri             Bois D Arc           1.078000e+05    ...
Virginia             Henrico              1.285667e+05    ...
New Jersey           Diamond Beach        1.739667e+05    ...
Pennsylvania         Highland Township    1.325000e+05    ...
Wisconsin            Town of Wrightstown  1.017667e+05    ...
New York             Urbana               7.920000e+04    ...
Wisconsin            New Denmark          1.145667e+05    ...
California           Angels               1.510000e+05    ...
New Jersey           Lebanon Borough      1.658000e+05    ...

                                                2014q2        2014q3  \
State                RegionName
New York             New York             5.153333e+05  5.191000e+05
California           Los Angeles          4.984000e+05  5.091333e+05
Illinois             Chicago              1.881333e+05  1.902667e+05
Pennsylvania         Philadelphia         1.146333e+05  1.158667e+05
Arizona              Phoenix              1.663333e+05  1.675333e+05
Nevada               Las Vegas            1.689667e+05  1.715667e+05
California           San Diego            4.747667e+05  4.814000e+05
Texas                Dallas               1.052667e+05  1.072667e+05
California           San Jose             6.817000e+05  7.016000e+05
Florida              Jacksonville         1.189333e+05  1.193000e+05
California           San Francisco        9.263333e+05  9.545333e+05
Texas                Austin               2.473333e+05  2.517333e+05
Michigan             Detroit              3.520000e+04  3.516667e+04
Ohio                 Columbus             1.042000e+05  1.057333e+05
Tennessee            Memphis              6.920000e+04  7.053333e+04
North Carolina       Charlotte            1.495667e+05  1.502000e+05
Texas                El Paso              1.115000e+05  1.115333e+05
Massachusetts        Boston               4.225333e+05  4.299333e+05
Washington           Seattle              4.417667e+05  4.515000e+05
Maryland             Baltimore            1.109333e+05  1.110333e+05
Colorado             Denver               2.652667e+05  2.750333e+05
District of Columbia Washington           4.477333e+05  4.565000e+05
Tennessee            Nashville            1.614000e+05  1.635333e+05
Wisconsin            Milwaukee            9.206667e+04  9.256667e+04
Arizona              Tucson               1.423000e+05  1.429000e+05
Oregon               Portland             2.832333e+05  2.888000e+05
Oklahoma             Oklahoma City        1.150667e+05  1.153333e+05
Nebraska             Omaha                1.302000e+05  1.305667e+05
New Mexico           Albuquerque          1.623667e+05  1.633000e+05
California           Fresno               1.713333e+05  1.749000e+05
...                                                ...           ...
Minnesota            Saint Bonifacius     2.175667e+05  2.212333e+05
Texas                Granite Shoals       1.118000e+05  1.112667e+05
Maryland             Piney Point          2.827000e+05  2.922333e+05
California           Stinson Beach        2.243300e+06  2.432467e+06
Wisconsin            Maribel              1.280000e+05  1.280667e+05
Idaho                Middleton            1.434333e+05  1.465000e+05
Kentucky             Almo                 1.211667e+05  1.243667e+05
Colorado             Bennett              1.508667e+05  1.595333e+05
New Hampshire        East Hampstead       2.526333e+05  2.536667e+05
Missouri             Garden City          1.051333e+05  1.047333e+05
Arkansas             Mountainburg         8.043333e+04  8.150000e+04
Tennessee            Ocoee                1.302000e+05  1.332667e+05
New York             Upper Brookville     1.715900e+06  1.722867e+06

(True, 0.00068653260304780647, 'university town')