## Predicting Property Maintenance Fines

This assignment is based on a data challenge from the Michigan Data Science Team ([MDST](http://midas.umich.edu/mdst/)). 

The Michigan Data Science Team ([MDST](http://midas.umich.edu/mdst/)) and the Michigan Student Symposium for Interdisciplinary Statistical Sciences ([MSSISS](https://sites.lsa.umich.edu/mssiss/)) have partnered with the City of Detroit to help solve one of the most pressing problems facing Detroit - blight. [Blight violations](http://www.detroitmi.gov/How-Do-I/Report/Blight-Complaint-FAQs) are issued by the city to individuals who allow their properties to remain in a deteriorated condition. Every year, the city of Detroit issues millions of dollars in fines to residents and every year, many of these fines remain unpaid. Enforcing unpaid blight fines is a costly and tedious process, so the city wants to know: how can we increase blight ticket compliance?

The first step in answering this question is understanding when and why a resident might fail to comply with a blight ticket. This is where predictive modeling comes in. For this assignment, your task is to predict whether a given blight ticket will be paid on time.

All data for this assignment has been provided to us through the [Detroit Open Data Portal](https://data.detroitmi.gov/). **Only the data already included in your Coursera directory can be used for training the model for this assignment.**

You may also find data related to this project from the links below:

* [Building Permits](https://data.detroitmi.gov/Property-Parcels/Building-Permits/xw2a-a7tf)
* [Trades Permits](https://data.detroitmi.gov/Property-Parcels/Trades-Permits/635b-dsgv)
* [Improve Detroit: Submitted Issues](https://data.detroitmi.gov/Government/Improve-Detroit-Submitted-Issues/fwz3-w3yn)
* [DPD: Citizen Complaints](https://data.detroitmi.gov/Public-Safety/DPD-Citizen-Complaints-2016/kahe-efs3)
* [Parcel Map](https://data.detroitmi.gov/Property-Parcels/Parcel-Map/fxkw-udwf)

___

For this project two data files are used for training and validating models: train.csv and test.csv. Each row in these two files corresponds to a single blight ticket, and includes information about when, why, and to whom each ticket was issued. The target variable is compliance, which is True if the ticket was paid early, on time, or within one month of the hearing data, False if the ticket was paid after the hearing date or not at all, and Null if the violator was found not responsible. Compliance, as well as a handful of other variables that will not be available at test-time, are only included in train.csv.

Note: All tickets where the violators were found not responsible are not considered during evaluation. They are included in the training set as an additional source of data for visualization, and to enable unsupervised and semi-supervised approaches. However, they are not included in the test set.

<br>

    train.csv - the training set (all tickets issued 2004-2011)
    test.csv - the test set (all tickets issued 2012-2016)
    addresses.csv & latlons.csv - mapping from ticket id to addresses, and from addresses to lat/lon coordinates. 
     Note: misspelled addresses may be incorrectly geolocated.

<br>

**Data fields**

train.csv & test.csv

    ticket_id - unique identifier for tickets
    agency_name - Agency that issued the ticket
    inspector_name - Name of inspector that issued the ticket
    violator_name - Name of the person/organization that the ticket was issued to
    violation_street_number, violation_street_name, violation_zip_code - Address where the violation occurred
    mailing_address_str_number, mailing_address_str_name, city, state, zip_code, non_us_str_code, country - Mailing address of the violator
    ticket_issued_date - Date and time the ticket was issued
    hearing_date - Date and time the violator's hearing was scheduled
    violation_code, violation_description - Type of violation
    disposition - Judgment and judgement type
    fine_amount - Violation fine amount, excluding fees
    admin_fee - $20 fee assigned to responsible judgments
state_fee - $10 fee assigned to responsible judgments
    late_fee - 10% fee assigned to responsible judgments
    discount_amount - discount applied, if any
    clean_up_cost - DPW clean-up or graffiti removal cost
    judgment_amount - Sum of all fines and fees
    grafitti_status - Flag for graffiti violations
    
train.csv only

    payment_amount - Amount paid, if any
    payment_date - Date payment was made, if it was received
    payment_status - Current payment status as of Feb 1 2017
    balance_due - Fines and fees still owed
    collection_status - Flag for payments in collections
    compliance [target variable for prediction] 
     Null = Not responsible
     0 = Responsible, non-compliant
     1 = Responsible, compliant
    compliance_detail - More information on why each ticket was marked compliant or non-compliant


___

## Evaluation

Your predictions will be given as the probability that the corresponding blight ticket will be paid on time.


For this assignment, I created a function that trains a model to predict blight ticket compliance in Detroit using `train.csv`. Returning a series of length 61001 with the data being the probability that each corresponding ticket from `test.csv` will be paid, and the index being the ticket_id.

Example:

    ticket_id
       284932    0.531842
       285362    0.401958
       285361    0.105928
       285338    0.018572
                 ...
       376499    0.208567
       376500    0.818759
       369851    0.018528
       Name: compliance, dtype: float32

In [2]:
import pandas as pd
import numpy as np
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier
from datetime import datetime

In [3]:
training = pd.read_csv('train.csv', encoding = 'ISO-8859-1')
testing = pd.read_csv('test.csv')
geolocation = pd.read_csv('latlons.csv')
address = pd.read_csv('addresses.csv')

/Users/syedsaudzafar/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (11,12,31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
training.head()

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,...,clean_up_cost,judgment_amount,payment_amount,balance_due,payment_date,payment_status,collection_status,grafitti_status,compliance_detail,compliance
0,22056,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","INVESTMENT INC., MIDWEST MORTGAGE",2900.0,TYLER,NaN,3.0,S. WICKER,CHICAGO,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
1,27586,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Michigan, Covenant House",4311.0,CENTRAL,NaN,2959.0,Martin Luther King,Detroit,...,0.0,855.0,780.0,75.0,2005-06-02 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
2,22062,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","SANDERS, DERRON",1449.0,LONGFELLOW,NaN,23658.0,P.O. BOX,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
3,22084,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","MOROSI, MIKE",1441.0,LONGFELLOW,NaN,5.0,ST. CLAIR,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
4,22093,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","NATHANIEL, NEAL",2449.0,CHURCHILL,NaN,7449.0,CHURCHILL,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN

In [5]:
testing.head()

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,...,violation_description,disposition,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,grafitti_status
0,284932,Department of Public Works,"Granberry, Aisha B","FLUELLEN, JOHN A",10041.0,ROSEBERRY,NaN,141,ROSEBERRY,DETROIT,...,Failure to secure City or Private solid waste ...,Responsible by Default,200.0,20.0,10.0,20.0,0.0,0.0,250.0,NaN
1,285362,Department of Public Works,"Lusk, Gertrina","WHIGHAM, THELMA",18520.0,EVERGREEN,NaN,19136,GLASTONBURY,DETROIT,...,Allowing bulk solid waste to lie or accumulate...,Responsible by Default,1000.0,20.0,10.0,100.0,0.0,0.0,1130.0,NaN
2,285361,Department of Public Works,"Lusk, Gertrina","WHIGHAM, THELMA",18520.0,EVERGREEN,NaN,19136,GLASTONBURY,DETROIT,...,Improper placement of Courville container betw...,Responsible by Default,100.0,20.0,10.0,10.0,0.0,0.0,140.0,NaN
3,285338,Department of Public Works,"Talbert, Reginald","HARABEDIEN, POPKIN",1835.0,CENTRAL,NaN,2246,NELSON,WOODHAVEN,...,Allowing bulk solid waste to lie or accumulate...,Responsible by Default,200.0,20.0,10.0,20.0,0.0,0.0,250.0,NaN
4,285346,Department of Public Works,"Talbert, Reginald","CORBELL, STANLEY",1700.0,CENTRAL,NaN,3435,MUNGER,LIVONIA,...,Violation of time limit for approved container...,Responsible by Default,100.0,20.0,10.0,10.0,0.0,0.0,140.0,NaN

In [6]:
geolocation.head()

                                  address        lat        lon
0  4300 rosa parks blvd, Detroit MI 48208  42.346169 -83.079962
1                14512 sussex, Detroit MI  42.394657 -83.194265
2                3456 garland, Detroit MI  42.373779 -82.986228
3                5787 wayburn, Detroit MI  42.403342 -82.957805
4              5766 haverhill, Detroit MI  42.407255 -82.946295

In [7]:
address.head()

   ticket_id                      address
0      22056       2900 tyler, Detroit MI
1      27586     4311 central, Detroit MI
2      22062  1449 longfellow, Detroit MI
3      22084  1441 longfellow, Detroit MI
4      22093   2449 churchill, Detroit MI

In [9]:
#Shape of training data. To see how many are points are 1's and 0's

training[(training['compliance'] ==0) | (training['compliance']==1)].shape

(159880, 34)

In [10]:
testing.shape

(61001, 27)

In [11]:
testing[testing['city']=='DETROIT'].shape

(26358, 27)

In [12]:
# Joining the two data sets of geolocation and adresses together
# based on index address

address = address.set_index('address').join(geolocation.set_index('address'),how = 'left')

In [13]:
address.head()

                            ticket_id        lat        lon
address
-11064 gratiot, Detroit MI     328722  42.406935 -82.995599
-11871 wilfred, Detroit MI     350971  42.411288 -82.993674
-15126 harper, Detroit MI      344821  42.406402 -82.957525
0 10th st, Detroit MI           24928  42.325689 -83.064330
0 10th st, Detroit MI           71887  42.325689 -83.064330

In [14]:
training = training.set_index('ticket_id').join(address.set_index('ticket_id'))
training.head()

,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,state,...,payment_amount,balance_due,payment_date,payment_status,collection_status,grafitti_status,compliance_detail,compliance,lat,lon
ticket_id,,,,,,,,,,,,,,,,,,,,,
22056,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","INVESTMENT INC., MIDWEST MORTGAGE",2900.0,TYLER,NaN,3.0,S. WICKER,CHICAGO,IL,...,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0,42.390729,-83.124268
27586,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Michigan, Covenant House",4311.0,CENTRAL,NaN,2959.0,Martin Luther King,Detroit,MI,...,780.0,75.0,2005-06-02 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0,42.326937,-83.135118
22062,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","SANDERS, DERRON",1449.0,LONGFELLOW,NaN,23658.0,P.O. BOX,DETROIT,MI,...,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN,42.380516,-83.096069
22084,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","MOROSI, MIKE",1441.0,LONGFELLOW,NaN,5.0,ST. CLAIR,DETROIT,MI,...,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN,42.380570,-83.095919
22093,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","NATHANIEL, NEAL",2449.0,CHURCHILL,NaN,7449.0,CHURCHILL,DETROIT,MI,...,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN,42.145257,-83.208233

In [15]:
testing= testing.set_index('ticket_id').join(address.set_index('ticket_id'))
testing.head()

,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,state,...,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,grafitti_status,lat,lon
ticket_id,,,,,,,,,,,,,,,,,,,,,
284932,Department of Public Works,"Granberry, Aisha B","FLUELLEN, JOHN A",10041.0,ROSEBERRY,NaN,141,ROSEBERRY,DETROIT,MI,...,200.0,20.0,10.0,20.0,0.0,0.0,250.0,NaN,42.407581,-82.986642
285362,Department of Public Works,"Lusk, Gertrina","WHIGHAM, THELMA",18520.0,EVERGREEN,NaN,19136,GLASTONBURY,DETROIT,MI,...,1000.0,20.0,10.0,100.0,0.0,0.0,1130.0,NaN,42.426239,-83.238259
285361,Department of Public Works,"Lusk, Gertrina","WHIGHAM, THELMA",18520.0,EVERGREEN,NaN,19136,GLASTONBURY,DETROIT,MI,...,100.0,20.0,10.0,10.0,0.0,0.0,140.0,NaN,42.426239,-83.238259
285338,Department of Public Works,"Talbert, Reginald","HARABEDIEN, POPKIN",1835.0,CENTRAL,NaN,2246,NELSON,WOODHAVEN,MI,...,200.0,20.0,10.0,20.0,0.0,0.0,250.0,NaN,42.309661,-83.122426
285346,Department of Public Works,"Talbert, Reginald","CORBELL, STANLEY",1700.0,CENTRAL,NaN,3435,MUNGER,LIVONIA,MI,...,100.0,20.0,10.0,10.0,0.0,0.0,140.0,NaN,42.308830,-83.121116

In [16]:
len(training['violation_code'].unique())

235

In [18]:
training[training['late_fee']!=10].shape

(237790, 35)

In [19]:
training['ticket_issued_date'].head()

ticket_id
22056    2004-03-16 11:40:00
27586    2004-04-23 12:30:00
22062    2004-04-26 13:40:00
22084    2004-04-26 13:30:00
22093    2004-04-26 13:00:00
Name: ticket_issued_date, dtype: object

In [20]:
training = training[~training['hearing_date'].isnull()]

In [22]:
training['hearing_date'].head()

ticket_id
22056    2005-03-21 10:30:00
27586    2005-05-06 13:30:00
22062    2005-03-29 10:30:00
22093    2005-03-29 10:30:00
22046    2005-03-21 10:30:00
Name: hearing_date, dtype: object

In [21]:
len(testing[testing['hearing_date'].isnull()])

2197

In [31]:
def blight_model():
    def time(hearing_date, ticket_issued):
        if not hearing_date or type(hearing_date) != str:
            return 73
        hearing = datetime.strptime(hearing_date, '%Y-%m-%d %H:%M:%S')
        ticket = datetime.strptime(ticket_issued, '%Y-%m-%d %H:%M:%S')
        
        void = hearing - ticket
        return void.days
    training = pd.read_csv('train.csv', encoding = 'ISO-8859-1')
    testing = pd.read_csv('test.csv')
    training = training[(training['compliance'] == 0) | (training['compliance'] ==1)]
    geolocation = pd.read_csv('latlons.csv')
    address = pd.read_csv('addresses.csv')
    address = address.set_index('address').join(geolocation.set_index('address'), how = 'left')
    training = training.set_index('ticket_id').join(address.set_index('ticket_id'))
    testing = testing.set_index('ticket_id'). join(address.set_index('ticket_id'))
    
    training = training[~training['hearing_date'].isnull()]
    training['time_gap'] = training.apply(lambda row: time(row['hearing_date'],
                                                    row['ticket_issued_date']),
                                   axis = 1)
    testing['time_gap'] = testing.apply(lambda row: time(row['hearing_date'],
                                                    row['ticket_issued_date']),
                                   axis = 1)
    feature_split = ['agency_name', 'state','disposition']
    training.lat.fillna(method = 'pad', inplace = True)
    training.lon.fillna(method='pad', inplace = True)
    training.state.fillna(method = 'pad', inplace =True)
    
    testing.state.fillna(method = 'pad', inplace = True)
    testing.lat.fillna(method = 'pad', inplace = True)
    testing.lon.fillna(method = 'pad', inplace = True)
    
    training = pd.get_dummies(training, columns = feature_split)
    testing = pd.get_dummies(testing, columns = feature_split)
    
    remove_train = ['payment_status','payment_date',
                   'balance_due','collection_status',
                   'compliance_detail']
    remove_both = ['fine_amount', 'violator_name', 'zip_code',
                   'country', 'city','inspector_name',
                   'violation_street_number',
                   'violation_street_name',
                   'violation_zip_code',
                   'violation_description',
                   'mailing_address_str_number', 
                   'mailing_address_str_name',
                   'non_us_str_code','ticket_issued_date',
                   'hearing_date', 'grafitti_status',
                   'violation_code']
    
    training.drop(remove_train, axis = 1, inplace = True)
    training.drop(remove_both, axis =1 , inplace = True)
    testing.drop(remove_both, axis = 1 , inplace = True)
    
    
    feature_train = training.columns.drop('compliance')
    feature_train_set = set(feature_train)
    
    for feature in set(feature_train):
        if feature not in testing:
            feature_train_set.remove(feature)
    feature_train = list(feature_train_set)
    
    x_train = training[feature_train]
    y_train = training.compliance
    x_test = testing[feature_train]
    
    scaler = MinMaxScaler()
    x_train_scale = scaler.fit_transform(x_train)
    x_test_scale = scaler.fit_transform(x_test)
    
    
    clf = MLPClassifier(hidden_layer_sizes = [100,20], alpha = 6,
                       random_state = 0, solver = 'lbfgs',
                       verbose = 0)
    clf.fit(x_train_scale, y_train)
    
    test_prob = clf.predict_proba(x_test_scale)[:,1]
    
    df_testing = pd.read_csv('test.csv', encoding = 'ISO-8859-1')
    df_testing['compliance'] = test_prob
    df_testing.set_index('ticket_id', inplace = True)
    
    
    
    return df_testing.compliance

In [32]:
predict = blight_model()

In [37]:
predict = predict.to_frame().reset_index()

In [38]:
predict

       ticket_id  compliance
0         284932    0.028317
1         285362    0.022883
2         285361    0.031232
3         285338    0.034458
4         285346    0.035717
5         285345    0.034509
6         285347    0.036314
7         285342    0.259663
8         285530    0.020303
9         284989    0.038691
10        285344    0.035882
11        285343    0.025981
12        285340    0.026336
13        285341    0.036360
14        285349    0.042450
15        285348    0.040924
16        284991    0.040726
17        285532    0.033700
18        285406    0.027599
19        285001    0.019739
20        285006    0.016708
21        285405    0.029248
22        285337    0.018528
23        285496    0.032009
24        285497    0.030393
25        285378    0.028723
26        285589    0.034945
27        285585    0.030819
28        285501    0.031683
29        285581    0.022508
...          ...         ...
60971     376367    0.016763
60972     376366    0.019804
60973     376362    0.070224
60974     376363    0.071328
60975     376365    0.016763
60976     376364    0.019804
60977     376228    0.020473
60978     376265    0.020482
60979     376286    0.087830
60980     376320    0.020305
60981     376314    0.019042
60982     376327    0.096503
60983     376385    0.084784
60984     376435    0.187807
60985     376370    0.178782
60986     376434    0.037453
60987     376459    0.040197
60988     376478    0.007741
60989     376473    0.019547
60990     376484    0.020459
60991     376482    0.027011
60992     376480    0.027011
60993     376479    0.027011
60994     376481    0.027011
60995     376483    0.029345
60996     376496    0.015919
60997     376497    0.015919
60998     376499    0.037397
60999     376500    0.037389
61000     369851    0.034764

[61001 rows x 2 columns]